<div [@slideDown] class="container">
  <form
    [formGroup]="registerForm"
    class="register-form"
    (ngSubmit)="submitForm()"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        name="name"
        type="text"
        id="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        name="email"
        type="email"
        id="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        name="password"
        [type]="hidePassword ? 'password' : 'text'"
        id="password"
      />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
        hidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Register
    </button>
    <a routerLink="/auth/login">Already have an account?</a>
  </form>
</div>
