<div *ngIf="router.url === '/auth'" class="comp-wrapper">
  <div class="grid-container">
    <div class="main">
      <div class="mid">
        <h1>BOOKS</h1>
      </div>
      <div class="bot">
        <h3>are awesome</h3>
      </div>
    </div>
    <div class="log-reg">
      <div class="btn1">
        <button mat-raised-button color="accent" routerLink="/auth/login">
          Log in
        </button>
      </div>
      <div class="btn2">
        <button mat-raised-button color="accent" routerLink="/auth/register">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
