.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "main"
    "log-reg";

  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.4fr 0.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "mid"
      "bot";

    .mid {
      grid-area: mid;
      display: grid;
      user-select: none;
      h1 {
        place-self: center;
        color: white;
        font-weight: bold;
        font-size: 20vw;
      }
    }
    .bot {
      grid-area: bot;
      display: grid;
      user-select: none;
      h3 {
        color: black;
        font-size: 10vw;
        justify-self: center;
        align-self: start;
        text-shadow: -2px 1px 2px #ffda45;
      }
    }
  }

  .log-reg {
    grid-area: log-reg;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "btn1 btn2";

    .btn1 {
      grid-area: btn1;
      display: grid;
      place-self: center;
      justify-self: end;
    }

    .btn2 {
      grid-area: btn2;
      display: grid;
      align-self: center;
      justify-self: start;
    }

    button {
      font-size: 20px;
      margin: 30px;
      min-width: 200px;
    }
  }
}
