<div class="notfound">
  <div class="wrapper">
    <h1>404</h1>
    <h3>Page Not Found</h3>
    <button mat-raised-button color="accent" href="#" routerLink="/auth">
      HOME
    </button>
  </div>
</div>
