.notfound {
  display: grid;
  place-items: center;
  min-height: 400px;
  .wrapper {
    display: grid;
    place-items: center;
    h1 {
      font-size: 4em;
    }

    h3 {
      font-style: italic;
    }
  }
}
