<div [@slideDown] class="container">
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        name="email"
        type="email"
        id="email"
      />
      <!-- TODO: Add ErrorStateMatcher -->
      <mat-error *ngIf="loginForm.invalid">This is a required field!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        name="password"
        [type]="hidePassword ? 'password' : 'text'"
        id="password"
      />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
        hidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!loginForm.valid"
      type="submit"
    >
      Log in
    </button>
    <a routerLink="/auth/register">Don't have an account?</a>
  </form>
</div>
