<h2 mat-dialog-title>Add a New Book to the Global Database</h2>

<form [formGroup]="addBookForm" class="add-book-form" (ngSubmit)="submitForm()">
  <!-- Title -->
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      formControlName="title"
      name="title"
      type="text"
      id="title"
    />
  </mat-form-field>
  <!-- Author -->
  <mat-form-field>
    <mat-label>Author</mat-label>
    <input
      matInput
      formControlName="author"
      name="author"
      type="text"
      id="author"
    />
  </mat-form-field>
  <!-- Image -->
  <mat-form-field>
    <mat-label>Book Cover</mat-label>
    <ngx-mat-file-input
      formControlName="image"
      accept="image/jpg"
      name="image"
      id="image"
    >
      <mat-icon ngxMatFileInputIcon>image</mat-icon>
    </ngx-mat-file-input>
  </mat-form-field>
  <!-- Date Written -->
  <mat-form-field>
    <mat-label>Published</mat-label>
    <input
      matInput
      formControlName="writtenIn"
      id="writtenIn"
      name="writtenIn"
      type="date"
    />
  </mat-form-field>
  <!-- Submit Form Button -->
  <button
    mat-raised-button
    color="accent"
    [disabled]="!addBookForm.valid"
    type="submit"
    mat-dialog-close
    mat-dialog-close="true"
  >
    Submit
  </button>
</form>
