.about {
  display: grid;
  min-height: 500px;
  place-items: center;

  mat-card {
    padding: 15px;
    min-width: 500px;
    min-height: 250px;
    display: grid;
    place-items: center;
    text-align: center;
  }
}
