<div class="about">
  <mat-card>
    <mat-card-header>
      <mat-card-title>hi!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>yes, you guessed it right - I love books!</p>
      <p>
        this site was created as a side project for me to <br />
        celebrate all things books, as well as a gift to all book <br />
        lovers to track their reading progress and help <br />
        consolidate their book collection into one place.
      </p>
      <p>thank you for visiting, I hope you enjoy your stay.</p>
      <p>read on!</p>
    </mat-card-content>
  </mat-card>
</div>
