.contact {
  display: grid;
  min-height: 500px;
  place-items: center;

  mat-card {
    padding: 15px;
    min-width: 500px;
    min-height: 250px;
    text-align: center;
    display: grid;
    place-items: center;
    mat-card-title {
      font-size: 28px;
      user-select: none;
    }
    mat-card-subtitle {
      user-select: none;
    }
  }

  fa-icon {
    padding: 20px;
  }

  .icon-contact {
    color: #69f0afa1;
  }

  .icon-contact:hover {
    color: #69f0af;
  }
}
