<div class="contact">
  <mat-card>
    <mat-card-header>
      <mat-card-title>say hi 👋</mat-card-title>
      <mat-card-subtitle>don't be shy</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <a class="icon-contact" href="mailto:email@example.com">
        <fa-icon
          matTooltip="Send me an email!"
          [icon]="icons.faEnvelope"
          size="3x"
        >
        </fa-icon
      ></a>
      <a class="icon-contact" href="tel:+00000000">
        <fa-icon
          matTooltip="Phone number not currenty available..."
          [icon]="icons.faPhone"
          size="3x"
        ></fa-icon>
      </a>
    </mat-card-content>
  </mat-card>
</div>
