<div class="container">
  <div *ngIf="book; else noBook">
    <h1>
      {{ book.title }}
    </h1>
    <h2>
      {{ book.author }}
    </h2>
    <h3>
      {{ book.writtenIn }}
    </h3>
    <img src="{{ book.image }}" alt="{{ book.title }}" />
  </div>
  <ng-template #noBook>
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
