.nav {
  width: 100vw;
  margin-left: 0;
  background: #7781a6;
  box-shadow: black 1px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo btns";
  height: 14.2vh;
  align-items: center;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #7781a6 25%, #69f0af70 75%) 5;

  h1 {
    grid-area: logo;
    justify-self: start;
    align-self: center;
    font-size: 38px;
    user-select: none;
    margin-left: 75px;
    margin-top: 20px;
    font-weight: 100;
    outline: none;
    text-shadow: -2px 1px 2px #feaee1;
    span {
      font-weight: 600;
      text-shadow: none;
    }
  }

  .btns {
    grid-area: btns;
    justify-self: end;
    align-self: center;
    margin-right: 65px;
    letter-spacing: 3px;
    a:hover:not(:last-child) {
      border-bottom: solid 3px #69f0afa1;
    }
  }

  a {
    color: black;
    margin: 15px;
    text-decoration: none;
  }

  a:last-child {
    color: #e5e5e5;
  }

  a:last-child:hover {
    color: #69f0afa1;
  }
}

main {
  overflow: hidden;
}

.selected {
  border-bottom: solid 3px #33384e;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 5fr;

    h1 {
      margin-left: 28px;
    }

    .btns {
      margin-right: 28px;
      letter-spacing: 1px;
    }

    a {
      margin: 5px;
    }
  }
}

// SVG
svg {
  position: absolute;
  opacity: 0.4;
  overflow: hidden;
}

#book-stack {
  right: 50px;
  bottom: 0;
}

#tale-svg {
  overflow: hidden;
  left: -200px;
  z-index: -1;
}
