<div class="nav">
  <h1 routerLink="/"><span>BOOK</span>TRACK</h1>
  <div class="btns">
    <a *ngIf="isLoggedIn()" routerLinkActive="selected" routerLink="/main"
      >Home</a
    >
    <a routerLinkActive="selected" routerLink="/about">About</a>
    <a routerLinkActive="selected" routerLink="/contact">Contact Us</a>
    <a *ngIf="!isLoggedIn()" routerLink="/auth">Sign Up</a>
    <a *ngIf="isLoggedIn()" (click)="onLogout()">Log Out</a>
  </div>
</div>
<main [@routerTransition]="getState(o)">
  <!-- Book Stack SVG -->
  <svg
    id="book-stack"
    enable-background="new 0 0 512.5 512.5"
    height="250"
    width="250"
    viewBox="0 0 512.5 512.5"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g>
      <g>
        <g>
          <g>
            <g>
              <path
                d="m15.445 88.978h385.635v115.624h-385.635z"
                fill="#ffda45"
              />
            </g>
            <path d="m358.08 88.978h43v115.624h-43z" fill="#fac800" />
            <path d="m236.583 88.978h122v115.624h-122z" fill="#fff5f5" />
            <g>
              <g>
                <g>
                  <path
                    d="m480.917 504.5h-382.667c-31.296 0-56.667-25.371-56.667-56.667 0-31.296 25.371-56.667 56.667-56.667h382.667z"
                    fill="#f0f5fa"
                  />
                  <path d="m440.917 391.167h40v113.333h-40z" fill="#e4ecf2" />
                </g>
                <g>
                  <path
                    d="m416.777 391.167h-372.353c-20.254 0-36.674-16.419-36.674-36.674 0-20.254 16.419-36.674 36.674-36.674h372.354v73.348z"
                    fill="#f0f5fa"
                  />
                  <path d="m376.777 317.819h40v73.348h-40z" fill="#e4ecf2" />
                </g>
                <g>
                  <path
                    d="m131.795 7.5h298.87c22.5 0 40.739 18.24 40.739 40.739 0 22.5-18.24 40.739-40.739 40.739h-298.87z"
                    fill="#f0f5fb"
                  />
                  <path
                    d="m430.665 7.5h-40c22.5 0 40.739 18.24 40.739 40.739 0 22.5-18.24 40.739-40.739 40.739h40c22.5 0 40.739-18.24 40.739-40.739 0-22.499-18.239-40.739-40.739-40.739z"
                    fill="#e4ecf2"
                  />
                </g>
                <g>
                  <g>
                    <path
                      d="m58.848 204.603h445.902v113.216h-445.902z"
                      fill="#6e9eff"
                    />
                  </g>
                  <path
                    d="m368.583 204.603h136.167v113.216h-136.167z"
                    fill="#69f0af"
                  />
                  <path d="m464.75 204.603h40v113.216h-40z" fill="#62aa87" />
                  <path
                    d="m212.25 276.211h-102.009c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15h102.009c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15z"
                    fill="#fff5f5"
                  />
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g fill="#060606">
        <path
          d="m512.212 203.854c-.314-3.737-3.711-6.813-7.462-6.751h-96.17v-100.624h22.085c26.599 0 48.239-21.64 48.239-48.239s-21.64-48.24-48.239-48.24h-324.357c-9.697 0-9.697 15 0 15h17.987v66.479h-108.85c-4.142 0-7.5 3.358-7.5 7.5v26.953c0 9.697 15 9.697 15 0v-19.453h206.138v100.624h-206.138v-42.977c0-9.697-15-9.697-15 0v50.477c0 4.142 3.358 7.5 7.5 7.5h35.902v98.216h-6.924c-24.357 0-44.174 19.816-44.174 44.174s19.816 44.174 44.174 44.174h12.182c-41.111 36.161-21.441 105.003 32.595 112.683 4.544.635 9.487 1.15 14.05 1.15.054 0 .217-.002.163-.002-.163 0 252.562-.371 276.09-.498 11.508.238 11.409-15.091-.081-15h-281.172c-53.232 0-66.152-78.185-16.121-95.605 8.012-1.998 11.411-2.645 16.121-2.645 0 0 354.674.053 375.167.017v22.677h-301.41c-9.697 0-9.697 15 0 15h301.409v22.778h-219.389c-9.697 0-9.697 15 0 15h219.389v22.778h-52.154c-9.697 0-9.697 15 0 15h79.654c9.697 0 9.697-15 0-15h-12.5v-98.276c4.186-.017 8.373-.032 12.546-.058 9.696-.059 9.608-15.133-.092-15-6.28.039-76.593 0-76.593 0v-58.348h80.473c4.142 0 7.5-3.358 7.5-7.5v-113.215c0-.252-.013-.501-.038-.749zm-118.632-6.751h-24.997-2.5v-100.624h27.497zm-254.285-140.532h163.427c9.697 0 9.697-15 0-15h-163.427v-26.571h291.37c18.328 0 33.239 14.911 33.239 33.239s-14.911 33.239-33.239 33.239h-291.37zm104.788 39.908h107v100.624h-107zm-177.735 115.624h294.736v98.216h-294.736zm342.929 136.448h-97.815c-9.697 0-9.697 15 0 15h97.815v20.104c-17.414-.08-364.854.011-364.854.011-16.086 0-29.174-13.087-29.174-29.174s13.087-29.174 29.174-29.174h364.854zm87.973-38.232h-121.167v-98.216h121.167z"
        />
        <path
          d="m212.25 238.711h-102.009c-12.406 0-22.5 10.093-22.5 22.5s10.093 22.5 22.5 22.5h102.009c12.407 0 22.5-10.093 22.5-22.5s-10.093-22.5-22.5-22.5zm0 30h-102.009c-4.135 0-7.5-3.364-7.5-7.5s3.364-7.5 7.5-7.5h102.009c4.136 0 7.5 3.364 7.5 7.5s-3.364 7.5-7.5 7.5z"
        />
        <path
          d="m412.583 268.711h48.833c9.697 0 9.697-15 0-15h-48.833c-9.697 0-9.697 15 0 15z"
        />
        <path
          d="m324.917 126.625c-4.142 0-7.5 3.358-7.5 7.5v26.163c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-26.163c0-4.142-3.358-7.5-7.5-7.5z"
        />
        <path
          d="m297.583 126.625c-4.142 0-7.5 3.358-7.5 7.5v26.163c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-26.163c0-4.142-3.357-7.5-7.5-7.5z"
        />
        <path
          d="m270.25 126.625c-4.142 0-7.5 3.358-7.5 7.5v26.163c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-26.163c0-4.142-3.358-7.5-7.5-7.5z"
        />
      </g>
    </g>
  </svg>
  <!-- Tale SVG -->
  <svg
    id="tale-svg"
    enable-background="new 0 0 512 512"
    height="512"
    viewBox="0 0 512 512"
    width="512"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g>
      <g>
        <g>
          <path
            d="m487.377 439.769h-462.754c-9.457 0-17.123-7.666-17.123-17.123v-324.623c0-9.457 7.666-17.123 17.123-17.123h462.754c9.457 0 17.123 7.666 17.123 17.123v324.623c0 9.457-7.666 17.123-17.123 17.123z"
            fill="#8795de"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m487.377 80.9h-30c9.457 0 17.123 7.666 17.123 17.123v324.623c0 9.457-7.666 17.123-17.123 17.123h30c9.457 0 17.123-7.666 17.123-17.123v-324.623c0-9.457-7.666-17.123-17.123-17.123z"
            fill="#6c7fd8"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m256.021 331.663v71.817h-189.072c-12.004 0-21.735-9.731-21.735-21.735v-50.082"
            fill="#fff9f0"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m216.294 49.601h-154.352c-9.239 0-16.728 7.489-16.728 16.728v297.424h171.08c21.94 0 39.726 17.786 39.726 39.727v-314.152c.001-21.94-17.786-39.727-39.726-39.727z"
            fill="#fff9f0"
          />
        </g>
      </g>
      <g>
        <g>
          <path d="m85.028 248.966h137.888v73.998h-137.888z" fill="#feaee1" />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m466.827 331.663h-210.806v71.817h189.072c12.004 0 21.735-9.731 21.735-21.735v-50.082z"
            fill="#fff9f0"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m436.827 331.663v50.082c0 12.004-9.731 21.735-21.735 21.735h30c12.004 0 21.735-9.731 21.735-21.735v-50.082z"
            fill="#ffefe1"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m295.747 49.601h154.352c9.239 0 16.728 7.489 16.728 16.728v297.424h-171.08c-21.94 0-39.726 17.786-39.726 39.727v-314.152c0-21.94 17.786-39.727 39.726-39.727z"
            fill="#fff9f0"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m256.021 364.958v38.523c0-21.941 17.786-39.727 39.726-39.727h-30c-3.356 0-6.613.42-9.726 1.204z"
            fill="#ffefe1"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m450.099 49.601h-30c9.239 0 16.728 7.489 16.728 16.728v297.424h30v-297.424c0-9.238-7.489-16.728-16.728-16.728z"
            fill="#ffefe1"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="m294.135 123.2h68.944v58.722h-68.944z"
            fill="#bec6ed"
            transform="matrix(-1 0 0 -1 657.214 305.121)"
          />
        </g>
      </g>
      <g>
        <path
          d="m294.135 123.2h68.944v58.722h-68.944z"
          fill="#feaee1"
          transform="matrix(-1 0 0 -1 657.214 305.121)"
        />
      </g>
      <g>
        <g>
          <path
            d="m385.394 462.399-23.97-13-24.838 13v-98.645h48.808z"
            fill="#fed402"
          />
        </g>
      </g>
      <g>
        <path
          d="m286.635 123.2v58.722c0 4.142 3.357 7.5 7.5 7.5h68.944c4.143 0 7.5-3.358 7.5-7.5v-58.722c0-4.142-3.357-7.5-7.5-7.5h-68.944c-4.143 0-7.5 3.358-7.5 7.5zm15 7.5h53.944v43.722h-53.944z"
        />
        <path
          d="m85.028 102.701h44.654c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-44.654c-4.143 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"
        />
        <path
          d="m85.028 135.045h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"
        />
        <path
          d="m85.028 165.887h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"
        />
        <path
          d="m85.028 196.729h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"
        />
        <path
          d="m85.028 227.571h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"
        />
        <path
          d="m77.528 322.964c0 4.142 3.357 7.5 7.5 7.5h137.888c4.143 0 7.5-3.358 7.5-7.5v-73.998c0-4.142-3.357-7.5-7.5-7.5h-137.888c-4.143 0-7.5 3.358-7.5 7.5zm15-66.499h122.888v58.998h-122.888z"
        />
        <path
          d="m385.395 135.046h41.619c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-41.619c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5z"
        />
        <path
          d="m385.395 165.887h41.619c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-41.619c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5z"
        />
        <path
          d="m385.395 196.729h41.618c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-41.618c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5z"
        />
        <path
          d="m286.635 220.071c0 4.142 3.357 7.5 7.5 7.5h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-132.878c-4.143 0-7.5 3.358-7.5 7.5z"
        />
        <path
          d="m427.013 246.517h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"
        />
        <path
          d="m427.013 280.463h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"
        />
        <path
          d="m427.013 314.409h-132.878c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h132.878c4.143 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"
        />
        <path
          d="m487.377 73.4h-13.05v-7.071c0-13.359-10.869-24.228-24.229-24.228h-70.723c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h70.723c5.089 0 9.229 4.14 9.229 9.228v265.334 24.59h-163.58c-12.445 0-23.782 4.839-32.227 12.734v-279.659c0-17.77 14.457-32.227 32.227-32.227h53.629c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-53.629c-16.657 0-31.316 8.676-39.727 21.739-8.41-13.063-23.069-21.739-39.727-21.739h-154.351c-13.359 0-24.229 10.868-24.229 24.228v7.071h-13.09c-13.577 0-24.623 11.046-24.623 24.623v324.623c0 13.577 11.046 24.623 24.623 24.623h47.697c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-47.697c-5.306 0-9.623-4.316-9.623-9.623v-324.623c0-5.306 4.317-9.623 9.623-9.623h13.091v183.433c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-205.504c0-5.088 4.14-9.228 9.229-9.228h154.352c17.77 0 32.227 14.457 32.227 32.227v279.659c-8.444-7.895-19.781-12.734-32.227-12.734h-163.581v-54.421c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v61.921 17.992c0 16.12 13.115 29.234 29.235 29.234h189.071 73.065v21.289h-226.765c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h226.766v15.13c0 2.624 1.371 5.057 3.616 6.416s5.037 1.445 7.361.229l21.298-11.147 20.458 11.095c1.116.605 2.347.907 3.575.907 1.328 0 2.656-.353 3.836-1.055 2.272-1.353 3.664-3.801 3.664-6.445v-15.13h94.482c13.577 0 24.623-11.045 24.623-24.623v-324.622c.001-13.577-11.045-24.623-24.622-24.623zm-94.482 297.854h66.433v10.492c0 7.849-6.386 14.234-14.235 14.234h-52.197v-24.726zm-340.181 10.492v-10.492h163.58c15.187 0 27.946 10.563 31.336 24.727h-180.681c-7.849-.001-14.235-6.387-14.235-14.235zm211.697 14.234c3.39-14.163 16.149-24.727 31.336-24.727h33.339v24.727zm113.484 53.819-12.896-6.993c-2.195-1.191-4.842-1.211-7.053-.052l-13.86 7.254v-78.754h33.809zm119.105-27.153c0 5.306-4.316 9.623-9.623 9.623h-94.482v-21.289h52.197c16.12 0 29.235-13.114 29.235-29.234v-17.992-32.09-243.264h13.05c5.307 0 9.623 4.317 9.623 9.623z"
        />
      </g>
    </g>
  </svg>
  <router-outlet #o="outlet"></router-outlet>
</main>
