<button mat-raised-button (click)="openAddBook()">
  Add Book to the Global Database
</button>
<div class="container">
  <div class="grid">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Finished Reading</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://images.unsplash.com/photo-1482059387495-939d52279925?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        alt="Books in a pile"
      />
      <mat-card-actions>
        <button routerLink="/main/books-read" mat-flat-button color="accent">
          Open
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>To Read</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://images.unsplash.com/photo-1586108209495-5b5aced2f065?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        alt="Books in a pile"
      />
      <mat-card-actions>
        <button routerLink="/main/books-to-read" mat-flat-button color="accent">
          Open
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
