.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 15px;
  mat-card {
    max-width: 500px;
    mat-card-title {
      text-shadow: -2px 1px 2px #1a55ce;
    }
  }
  img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-image: linear-gradient(
        to right,
        #69f0af70 20%,
        #424242 50%,
        #69f0af70 80%
      )
      3;
  }
}
