<div *ngIf="booksRead; else noBooks">
  <div *ngFor="let book of booksRead | async">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
    <img width="250px" src="{{ book.image }}" alt="image - {{ book.title }}" />
  </div>
</div>

<ng-template #noBooks>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<button mat-raised-button (click)="openAddBookRead()">Add Read Book</button>
