<div class="comp-wrapper" *ngIf="books; else noBooks">
  <div *ngFor="let book of books | async">
    <h1 (click)="onSelectBook(book)">{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
    <img width="250px" src="{{ book.image }}" alt="image - {{ book.title }}" />
  </div>
</div>

<ng-template #noBooks>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
