<h2 mat-dialog-title>Add a New Book</h2>

<form
  [formGroup]="addUserBookForm"
  class="add-book-form"
  (ngSubmit)="submitForm()"
>
  <!-- Book Title -->
  <mat-form-field>
    <mat-label>Book Title</mat-label>
    <input
      matInput
      formControlName="title"
      id="title"
      name="title"
      type="search"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let book of filteredBooks | async" [value]="book.id">
        {{ book.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- Date Started Reading -->
  <mat-form-field>
    <mat-label>Started Reading</mat-label>
    <input
      matInput
      formControlName="started"
      id="started"
      name="started"
      type="date"
    />
  </mat-form-field>
  <!-- Date Finished Reading -->
  <mat-form-field>
    <mat-label>Finished Reading</mat-label>
    <input
      matInput
      formControlName="finished"
      id="finished"
      name="finished"
      type="date"
    />
  </mat-form-field>
  <!-- Submit Form Button -->
  <button
    mat-raised-button
    color="accent"
    [disabled]="!addUserBookForm.valid"
    type="submit"
    mat-dialog-close
    mat-dialog-close="true"
  >
    Submit
  </button>
</form>
