html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to top right, #33384eea 0%, #33384e 25%);
}

.comp-wrapper {
  height: 85.1vh;
  overflow: auto;
  display: grid;
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  form {
    display: grid;
    width: 90%;
    place-items: center;
    mat-form-field {
      width: 30%;
      min-width: 300px;
    }
    input {
      place-self: center;
      min-width: 300px;
    }
    button {
      place-self: center;
      min-width: 200px;
    }
  }
}

// Scrollbar Style
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #69f0af70;
  border-radius: 10px;
}
